body {
    margin-top: 0;
    margin-left: 0;
    background: #1F2937;
}

.conthead {
    display: flex;
}

.conthead a {
    text-decoration: none;
    color: white;
}

.img {
    width: 150px;
    height: auto;
    margin: 0 100px;
}

li {
    list-style-type: none;
}